:root {
    /* Base theme colors */
    --background: hsl(240, 10%, 4%);
    --foreground: hsl(0, 0%, 85%);
    --secondary-foreground: hsl(0, 0%, 48%);
    --primary: hsl(0, 0%, 85%);
    --card-background: hsl(0, 0%, 8%);
    --border: hsl(0, 0%, 48%);
    --text-gradient: linear-gradient(90deg,
            hsl(48, 100%, 62%) 0%,
            hsl(39, 100%, 50%) 20%,
            hsl(0, 100%, 50%) 45%,
            hsl(10, 80%, 45%) 60%,
            hsl(39, 100%, 50%) 80%,
            hsl(48, 100%, 62%) 100%);

    /* Layout-specific colors */
    --header-background: hsla(240, 10%, 4%, 0.9);
    --mobilenav-background: hsla(56, 100%, 3%, 0.95);
    --contact-gradient: linear-gradient(var(--background), hsla(56, 100%, 3%, 0.95), var(--background));
}

/* Light theme */
[data-theme="light"] {
    /* Base theme colors */
    --background: hsl(28, 55%, 94%);
    --foreground: hsl(0, 0%, 20%);
    --secondary-foreground: hsl(0, 0%, 45%);
    --primary: hsl(240, 10%, 4%);
    --card-background: hsl(29, 66%, 90%);
    --border: hsl(28, 31%, 76%);
    --text-gradient: linear-gradient(90deg,
    hsl(48, 100%, 35%) 0%,
    hsl(38, 100%, 30%) 25%,
    hsl(8, 90%, 35%) 50%,
    hsl(5, 75%, 32%) 70%,
    hsl(40, 90%, 33%) 85%,
    hsl(48, 100%, 35%) 100%);
    
    /* Layout-specific colors */
    --header-background: hsla(28, 55%, 94%, 0.9);
    --mobilenav-background: hsla(0, 0%, 0%, 0.05);
    --contact-gradient: linear-gradient(var(--background), hsl(44, 55%, 85%), var(--background));
}